@model CertData

<div class="form-grp">
    
    <table class="table-condensed" style="margin-top: 1em;">
        <tr>
            <th>Datei</th>
            <td>@Model.FileName</td>
        </tr>
        
        <tr>
            <th>Ausgestellt für</th>
            <td>@Model.Subject</td>
        </tr>
        
        <tr>
            <th>Ausgestellt von</th>
            <td>@Model.Issuer</td>
        </tr>
        
        <tr>
            <th>Gültigkeitszeitraum</th>
            <td>@Model.ValidTimeRange</td>
        </tr>
    </table>
</div>
