@model CertData

<div class="form-group">
    <div>
        <label>Datei</label>
        <div>@Model.FileName</div>
    </div>

    <div class="form-group">
        <label asp-for="Password">Passwort des Client-Zertifikats:</label>
        <input class="form-control" id="cert-password-input" name="Password" value="@Model.Password" type="password" onchange="onPasswordChanged();" />
    </div>
</div>

<script language="javascript" type="text/javascript">
    function onPasswordChanged() {
        var formData = new FormData();
        formData.append("password", $("#cert-password-input").val());

        $.ajax({
            url: '/Connect/ValidateClientCertPassword',
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            success: function (result) {
                $("#cert-details").html(result);
            },
            error: function (err) {
                console.log(err.statusText);
            }
        });

        console.log("Passwort 2: \"" + password + "\"");
    }
</script>
