@model CertData

<div class="form-grp">
    <div>
        <label>Datei</label>
        <div>@Model.FileName</div>
    </div>

    <div>
        Datei konnte nicht verarbeitet werden: falsches Dateiformat?
    </div>

</div>
