<div class="form-group">
    <label>Parameter 1:</label>
    <input class="form-control" name="Parameter1" />
</div>

<div class="form-group">
    <label>Parameter 2:</label>
    <input class="form-control" name="Parameter2" />
</div>

@*TODO: Validation of the parameters -> disable Connect button*@

